.header__menu-burger{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1199px){
    .header__menu-burger{
        display: none;
    }
}