@media screen and (max-width:1199px) {
    .reviews__input+.reviews__label::before {
        content: "";
        position: absolute;
        top: 45px;
        left: 10px;
        width: 6px;
        height: 6px;
        background-color: rgba(40, 54, 69, 0.3);
        border-radius: 50%;
        box-sizing: border-box;
    }

    .reviews__input+.reviews__label {
        margin-left: 23px;
    }

    .reviews__input:checked+.reviews__label::after {
        content: "";
        position: absolute;
        top: 44px;
        left: 7.5px;
        width: 6px;
        height: 6px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        border: 2px solid rgba(40, 54, 69, 0.3);
    }

    .reviews__input:active+.reviews__label::before {
        border: 6px solid pink;
    }
}

@media screen and (max-width: 659px) {
    .reviews__input+.reviews__label::before {
        top: 34px;
        left: 9px;
      
    }
    .reviews__input:checked+.reviews__label::after {
        top: 33px;
        left: 7px;
    }
}