 .slider__slideres {
     display: none;
 }

 @media screen and (max-width:1199px) {
     .slider__slideres {
         margin: 0;
         padding: 0;
         display: flex;
         list-style-type: none;
         justify-content: center;
         position: absolute;
     }
 }