.input__label{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: rgba(210, 40, 86);
    margin-left: 17px;
}

@media screen and (max-width: 659px) {
    .input__label {
      margin-left: 22px;
    }
  }