@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.form{
    max-width: 431px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}