.form {
  width: 100%;
  font-family: OpenSans, arial, sans-serif;
}

@media(max-width: 1199px) {
  .form {
    max-width: 938px;
  }
}

@media(max-width: 659px) {
  .form {
    max-width: 618px;
  }
}