.price{
  padding: 160px 130px 100px;
  background-color: #f2f2f2;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 123"><polygon points="0,0 1200,0 0,95" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  margin-top: 56px;
  overflow:hidden
}

@media screen and (max-width: 1199px) {
  .price {
    padding: 100px 20px 70px;
  }
}

@media screen and (max-width: 659px) {
  .price {
    padding: 0;
  }
}
