.price{
  width:100% ;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 30px;
  overflow: hidden;
  height: 534px;
  justify-content:center;
  margin-top: 56px;
}

@media screen and (max-width: 1199px){
  .price{
  }
}
