.hero__title{
    width: 270px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin: 0;
    padding: 0 15px 36px;

}

@media(max-width:660px){
    .hero__title{
        height: 127px;
        font-size: 40px;
        font-weight: 300;
        width: 300px;
    }
}

@media(max-width:320px){
    .hero__title{
        width: 280px;
        height: 47px;
        font-size: 24px;
    }
}

