.hero__title{
    position: relative;
    display: flex;
    width: 270px;
    height: 174px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    line-height: 1.2;
    padding: 0 40px;
    margin: 0px;
    flex-shrink: 1;
    left: -16px;

}

@media(max-width:660px){
    .hero__title{
        height: 127px;
        font-size: 40px;
        font-weight: 300;
        width: 300px;
    }
}

@media(max-width:320px){
    .hero__title{
        width: 280px;
        height: 47px;
        font-size: 24px;
    }
}

