.reviews {
    display: flex;
    max-width: 940px;
    padding: 190px 0 56px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 48px;
    background-image: url(../../images/reviews-quotes.svg);
    background-repeat: no-repeat;
    background-position: 50% 80px;
}
@media screen and (max-width: 1199px) {
    .reviews {
        gap: 0;
        padding: 65px 20px 5px;
        background-image: none;
    }
}
@media screen and (max-width: 659px) {
    .reviews {
        padding: 50px 20px;
    }
}
