.contacts__title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 68.09px;
    width: 30%;
    color: #283645;
    width: 462px;
  }

  @media (max-width: 660px){
    .contacts__title{
      width: 370px;
      line-height: 54.47px;
      font-size: 40px;
    }
  }


  @media (max-width: 400px){
    .contacts__title{
      width: 222px;
      line-height: 28.8px;
      font-size: 24px;
    }
  }




