.contacts__map{
  position: relative;
  width: 100%;
  height: 502px;
  margin-top: -23px;
}

@media (max-width:660px){
  .contacts__map{
    height: 374px;
  }
}

@media (max-width:320px){
  .contacts__map{
    height: 200px;
  }
}
