.popup__footer_for_success-event{
    /* max-width: 460px; */
    padding: 41px 160px;
}

@media screen and (max-width: 1199px) {
    .popup__footer_for_success-event{
      padding: 41px 80px;
      /* max-width: 320px; */
  }
}

@media screen and (max-width: 659px) {
    .popup__footer_for_success-event{
      /* max-width: 280px; */
      padding: 42px 20px;
    }
}