.hero__conteiner{
    max-width:270px;
    padding: 0 20px 36px;

}

@media(max-width:660px){
    .hero__conteiner{
        max-width:240px;
        padding: 0 30px 30px;
    }
}

@media(max-width:320px){
    .hero__conteiner{
        max-width:280px;
    }
}

