.input__wrapper_type_phone::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px; 
    width: 60px;
    height: calc(100% - 2 * 2px);
    border-radius: 0 1px 1px 0;
    background-color: rgba(229, 229, 229);
    background-image: url(/images/input-phone.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) center;
}

@media screen and (max-width: 659px) {
    .input__wrapper_type_phone::after{
        background: none;
    }
}