.map__iframe{
  width: 100%;
  min-height: 500px;
  border: none;
}

@media screen and (max-width: 1199px){
  .map__iframe{
    min-height: 374px;
  }
}

@media screen and (max-width: 659px){
  .map__iframe{
    min-height: 200px;
  }
}
