.table__plan-price{
  margin: 0;
  padding: 0px 40px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .table__plan-price {
    padding: 0px 3px 0px 4px;
    font-size: 18px;
  }
}
