.card__opened{
  width: 100%;
  margin-bottom: 50px;
  grid-template-rows:  1fr ;
  grid-template-columns: 2fr;
  grid-gap: 0;
  line-height: 0;
  position: relative;
}
.card__opened::before {
  content: "Панорама дня";
  position: absolute;
  top: 54px;
  right: 130px;
  padding: 16px 16px;
  letter-spacing: -.6px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #d22856;
}
@media screen and (max-width:1199px){
  .card__opened::before {
    top: 57px;
    right: 20px;
  }
}
@media screen and (max-width:659px){
  .card__opened::before {
    top: 0;
    right: 20px;
  }
}