.research__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  padding-top: 93px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}
@media screen and (max-width: 660px) {
  .research__title {
    padding-top: 40px;
    line-height: 36px;
    max-width: 168px;
  }
}
