.input__label_phone::after{
    content: "";
    position: absolute;
    top: 31px;
    left: 334px;
    transform: translateY(-50%);
    background-color: rgba(229, 229, 229);
    width: 59px;
    height: 59px;
    background-image: url(/images/input-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1199px) {
    .input__label_phone::after{
        left: 459px;
    }
}

@media screen and (max-width: 659px) {
    .input__label_phone::after{
        background: none;
    }
}