.input__label_phone::after{
    content: "";
    position: absolute;
    right: 62%;
    top: 1.4%;
    left: 32.2%;
    background-color: rgba(229, 229, 229);
    width: 58.5px;
    height: 58.5px;
    background-image: url(/images/input-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1199px) {
    .input__label_phone::after{
        left: 75.7%;
    }
}

@media screen and (max-width: 1199px) {
    .input__label_phone{
        max-width: 496px;
    }
}