.button_view_secondary{
  border-radius: 30px;
  background-color: transparent;
  border: 3px solid rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
}
.button_view_secondary:hover{
  border: 3px solid rgba(40, 54, 69, 0.3);
  color: rgba(40, 54, 69, 0.3);
}
.button_view_secondary:active,
.button_view_secondary:focus{
  border: 3px solid transparent;
  background-color: rgba(40, 54, 69, 0.3);
  color:rgba(255, 255, 255, 0.3);
}
