.header__link-curent{
    position: relative;
}

.header__link-curent::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -11px;
    left: 0;
    height: 2px;
    background-color: #fff;
}