.input__phone{
    max-width: 371px;
    width: 100%; 
    outline: none;
    padding: 20px 0 20px 20px;
    color: rgba(40, 54, 69);
    border: 2px solid rgba(229, 229, 229) ;
    border-radius: 2px;
    margin-bottom: 22px;
}

.input__phone::placeholder{
    color: rgba(40, 54, 69);
    font-size: 18px;
}

.input__phone:hover{
    border: 2px solid rgba(40, 54, 69);
}

.input__phone:active{
    border: 2px solid rgba(210, 40, 86);
}

@media screen and (max-width: 1199px) {
    .input__phone{
        max-width: 496px;
    }
}

@media screen and (max-width: 659px) {
    .input__phone{
        max-width: 276px;
    }
}