.advantages__title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin: 43px 0 0;
}

@media screen and (max-width: 1199px) {
    .advantages__title{
        margin: 0;
        text-align: start;
        font-size: 18px;
    }
  }

@media screen and (max-width: 659px) {
    .advantages__title{
        text-align: center;
    }
  }