.price__cell{
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
  background: white;
}

@media screen and (max-width: 1199px){
  .price__interaction{
    font-size: 14px;
  }
}
