.footer__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 659px) {
  .footer__container {
    padding: 40px 74px;
    flex-direction: column;
    box-sizing: border-box;
  }
}
