.footer__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 659px) {
  .footer__container {
    flex-direction: column;
  }
}
