.footer__author{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

@media (max-width: 660px) {
  .footer__author {
    font-size: 14px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .footer__author {
    font-size: 14px;
    margin: 0;
  }
}
