.input__label_type_email::after{
    content: "";
    position: absolute;
    top: 34px;
    left: 329px;
    transform: translateY(-50%);
    background-color: rgba(229, 229, 229);
    width: 64px;
    height: 64.5px;
    background-image: url(/images/input-mail.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 659px) {
    .input__label_type_email::after{
        background: none;
    }
}