.intro__logo{
    width: 147px;
    height: 40px;
    position: absolute;
    top: 27px;
    left: 130px;
}

@media(max-width:660px){
    .intro__logo{
        left: 24px;
    }
}

@media(max-width:320px){
    .intro__logo{
        top: 22px;
        left: 20px;
        width: 74px;
        height: 23px;
    }
}