.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 166px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  /* TODO fix icons overflow effect */
}

@media screen and (max-width: 1199px)  {
  .footer__social-media {
    width: 172px;
  }
}

@media screen and (max-width: 659px)  {
  .footer__social-media {
    padding-top: 40px;
    position: relative;
    width: 100%;
  }
}
