.footer__social-media {
  display: flex;
  align-items: center;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1199px)  {
  .footer__social-media {
    gap: 8px;
  }
}

