.input{
    font-family: "Open Sans", sans-serif;
    display: flex;
    position: relative;
    gap: 74px;
}

@media screen and (max-width: 1199px) {
    .input{
        flex-direction: column;
        gap: 41px;
    }
}

/* @media screen and (max-width: 659px) {
    .input{
        flex-direction: column-reverse;
        gap: 41px;
    }
} */