.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 371px;
    width: 100%;
    position: relative;
}

@media screen and (max-width: 659px) {
    .input{
        flex-direction: column-reverse;
        gap: 5px;
    }
} 