
.form-fieldset_for_achievements{
  padding: 54px 74px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:1199px){
  .form-fieldset_for_achievements{
    padding: 54px 60px;
  }
}
@media (max-width:659px){
  .form-fieldset_for_achievements{
    padding: 0 0 42px;
    background-color:rgba(242, 242, 242, 1);
  }
}