.form-fieldset_for_contact-info{
  padding: 25px 62px 23px 62px;
}
@media (max-width:1199px) {
  .form-fieldset_for_contact-info{
    padding: 27px 60px 37px;
  } 
}
@media (max-width:659px) {
  .form-fieldset_for_contact-info{
    padding:0;
  } 
}