.slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    /* padding-top: 12px; */
}
@media screen and (max-width:1199px) {
    .slider__content {
        gap: 40px;
        margin-bottom: 43px;
    }
}
@media screen and (max-width: 659px) {
    .slider__content {
        flex-direction: column-reverse;
        gap: 15px;
    }
}
