.logo{
    width: 147px;
    height: 40px;
    position: absolute;
    top: 27px;
    left: 130px;
    transition: all 0.5s ease;
}

@media(max-width:660px){
    .logo{
        left: 24px;
    }
}

@media(max-width:320px){
    .logo{
        top: 22px;
        left: 20px;
        width: 74px;
        height: 23px;
    }
}

