.contacts__access{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 32.68px;
  color: #D22856;
  width: 211px;
}

@media (max-width:660px){
  .contacts__access{
    margin-top: 17px;
  }
}

@media (min-width: 320px){
  .contacts__access{
    margin-top:-9px;
    margin-bottom: 18px;
  }
}
