.slider__arrow-button {
    border: none;
    background: none;
    position: absolute;
    top: 29px;
    padding: 0;
}

@media screen and (max-width:1199px) {
    .slider__arrow-button {
        display: none;
    }
}
