.card__like-wrapper_opened{
  grid-row: -1;
  grid-column: 2; 
  margin: 0;
  justify-content: end;
}
@media screen and (max-width: 659px){
  .card__like-wrapper_opened{
    justify-content: left;
    grid-row: 3;
    grid-column: 1; 
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-top: 23px;
  }
}