.contacts__list{
  padding: 0;
  display:flex;
  justify-content: space-around;
  gap: 70px;
  margin: 40px 0 0;
  list-style-type: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px){
  .contacts__list{
    margin-top: 33px;
    gap: 42px;
  }
}

@media screen and (max-width: 659px){
  .contacts__list{
    gap:19px;
  }
}
