.table__cell{
  border-collapse: collapse;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
  background: rgb(255, 255, 255);
  padding: 16px 15px 10px 21px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;

}
@media screen and (max-width: 1199px) {
  .table__cell {
    padding-top: 9px;
    padding-bottom: 2px;
    font-size: 14px;
  }
}

@media screen and (max-width: 659px) {
  .table__cell {
    min-width: calc(93vw - 58px);
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
