.research {
  display: flex;
  background: rgb(242, 242, 242);
  padding: 40px 130px;
  gap: 73px;
}

@media screen and (max-width: 1199px) {
  .research {
    background: rgb(255, 255, 255);
    padding: 54px 20px 44px;
  }
}

@media screen and (max-width: 659px) {
  .research {
    display: none;
  }
}