.research {
  display: flex;
  background: rgb(242, 242, 242);
  padding: 76px 125px 67px 130px;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 660px) {
  .research {
    display: flex;
    background: rgba(255, 255, 255, 1);
    padding: 54px 20px 0 16px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 320px) {
  .research {
    display: none;
  }
}
