.intro__button{
    text-decoration: none;
    width: 300px;
    height: 56px;
    border-radius: 29px;
    border: 3px solid #FFF;
    color: white;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    background: none;
    cursor: pointer;

}

.intro__button:hover{
    background-color: rgba(255, 255, 255, 0.523);
    color: black;
    border: 3px solid rgba(0, 0, 0, 0);
}

@media(max-width:660px){
    .intro__button{
        margin-top: 39px;
        width: 280px;
    }
}

@media(max-width:320px){
    .intro__button{
        margin-top: 0;
    }
}