.advantages__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 30px;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
    .advantages__list{

    }
  }

@media screen and (max-width: 659px) {
    .advantages__list{

    }
  }