.intro{
    width: 100%;
    background-image: url(../../images/intro-background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 659px){
    .intro{
        background-image: url(../../images/intro-background-mobile.png);
    }
}

