.hero__info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

@media screen and (max-width: 659px){
    .hero__info{
        padding-top: 28px;
        margin-top: 269px;
        width: 100%;
        height: 271px;
        background-color: rgb(29, 38, 49);
    }
}