.hero__info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

@media(max-width:320px){
    .hero__info{
        padding-top: 28px;
        margin-top: 269px;
        width: 320px;
        height: 271px;
        background-color: #1D2631;
    }
}