.form__list-item{
    padding-bottom: 63px;
}

/* .form__list-item::before {
    content: "";
    position: absolute;
    top: 50.3%;
    transform: translateY(-50%);
    left: 110px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 1);
} */