.input__input{
    font-family: OpenSans, arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 23px 80px 23px 20px;
    color: rgba(40, 54, 69);
    border: 2px solid rgba(229, 229, 229) ;
    border-radius: 2px;
    gap: 20px;
}

.input__input::placeholder{
    font-family: OpenSans, arial, sans-serif;
    font-size: 18px;
    line-height: 1;
    color: rgba(40, 54, 69);
}

.input__wrapper:hover > .input__input:not(.input__input:focus), .input__input:hover {
  border: 2px solid rgba(40, 54, 69);
}

.input__input:hover{
    border: 2px solid rgba(40, 54, 69);
}

.input__input:active{
    border: 2px solid rgba(210, 40, 86);
}

.input__input:focus{
    border: 2px solid rgba(210, 40, 86);
}

@media screen and (max-width: 659px) {
    .input__input{
        padding: 23px 20px;
    }
}