.research__link {
  color: rgb(209, 41, 86);
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  transition: all 1.5s ease;
}

@media screen and (max-width: 1199px) {
  .research__link {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }
}

.research__link:hover {
  color: rgb(40, 54, 69);
}

.research__link:active {
  color: rgba(40, 54, 69, 0.3);

}