.table__plan-name{
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .table__plan-name {
    font-size: 16px;
  }
}
