.header__nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 78px;
    list-style: none;
    padding: 0;
    margin-left: 450px;
}





@media(max-width:660px){
    .header__nav-list{
        display: none;
    }
}