.header__nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 78px;
    list-style: none;
    padding: 0;
    margin-left: 450px;
}



.header__nav-list li a{
    transition: all 0.5s ease;
}

.header__nav-list li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__nav-list li a:hover{
    color: rgb(178, 40, 102);
}

@media(max-width:660px){
    .header__nav-list{
        display: none;
    }
}