.form-fieldset__legend{
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -.15px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    text-align: center;
}
@media screen and (max-width: 659px){
    .form-fieldset__legend{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 240px;
        line-height: 18px;
        letter-spacing: unset;
    }
}
