.form__label{
    cursor: pointer;
    position: relative;
}

.form__label::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -55px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 2px solid rgba(229, 229, 229, 1);
}

.form__label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
    border-radius: 50%;
    background: rgba(210, 40, 86, 1);
    opacity: 0;
}

.form__label:checked {
    opacity: 1;
}