.text-input__label {
    font-size: 14px;
    color: rgb(210, 40, 86);
    text-transform: uppercase;
    font-family: OpenSans, arial, sans-serif;
    line-height: 30px;
    letter-spacing: 0.5px;
}
@media screen and (max-width: 659px) {
    .text-input__label {
      padding-left: 21px;
    }
  }
  