.contacts__table{
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  width: 74%;
  justify-content: space-around;
  gap: 70px;
  margin-top: 40px;
}

@media (max-width: 660px){
  .contacts__table{
    flex-wrap: wrap;
    width: 95%;
    margin-top: 30px;
    gap: 1px;
  }
}

@media (max-width:320px){
  .contacts__table{
    margin-top: 34px;
  }
}





