.intro__menu-burger{
    position: absolute;
    top: 43px;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media(min-width:660px){
    .intro__menu-burger{
        display: none;
    }
}

@media(max-width:320px){
    .intro__menu-burger{
        top: 21px;
        right: 20px;
    }
}