@media screen and (max-width:1199px) {
    .slider__input+.slider__label::before {
        content: "";
        position: absolute;
        top: 226px;
        right: 45px;
        width: 6px;
        height: 6px;
        background-color: rgba(40, 54, 69, 0.3);
        border-radius: 50%;
        box-sizing: border-box;
    }

    .slider__input+.slider__label {
        margin-left: 23px;
    }

    .slider__input:checked+.slider__label::after {
        content: "";
        position: absolute;
        top: 224px;
        right: 43px;
        width: 6px;
        height: 6px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        border: 2px solid rgba(40, 54, 69, 0.3);
    }

    .slider__input:active+.slider__label::before {
        border: 6px solid pink;
    }
}

@media screen and (max-width: 659px) {
    .slider__input+.slider__label::before {
        top: 253px;
        right: 45px;

    }

    .slider__input:checked+.slider__label::after {
        top: 251px;
        right: 44px;
    }

    .slider__input+.slider__label {
        margin-left: 24px;
    }
}