.price__plan{
  margin: 0;
  padding: 16px 68px 0px 68px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px){
  .price__plan{
    padding: 12px 34px 0px 34px;
    font-size: 16px;
  }
}
