.popup__paragraph_for_failure-event{
    margin-bottom: 62px;
    max-width: 370px;
}

@media screen and (max-width: 1199px){
    .popup__paragraph_for_failure-event{
    max-width: 300px;
    margin-bottom: 23px;
    }
}

@media screen and (max-width: 659px){
    .popup__paragraph_for_failure-event{
      margin-bottom: 33px;
    }
}