.slider__dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
  background-color: rgb(191 195 199);
  border: none;
  cursor: pointer;
  transition: all .7s ease;
}
.slider__dot:not(:disabled):hover{
  background-color: rgb(126 134 143);
}
.slider__dot:not(:disabled):active{
  background-color: rgb(233 235 236);
}
