.reviews__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
  max-width: 688px;
}

@media screen and (max-width: 659px) {
  .reviews__content {
      flex-direction: column-reverse;
      gap: 15px;
  }
}
