.header__navigation-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: var(--common-transition);
}

.header__navigation-link:hover{
    color: rgb(178, 40, 102);
}

.header__navigation-link:active{
    color: rgb(255, 255, 255, 0.5);
}