.popup__paragraph_for_success-event{
    margin: 0 0 39px 0;
    max-width: 415px;
}

@media screen and (max-width: 1199px){
    .popup__paragraph_for_success-event{
      margin-bottom: 30px;
    }
}