.hero__button{
    text-decoration: none;
    width: 300px;
    min-height: 56px;
    border-radius: 29px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--common-transition);
    background: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    padding: 0 20px;
}

.hero__button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(178, 40, 102);
}

.hero__button:active{
    color: rgb(178, 40, 102, 0.5);
}

@media screen and (max-width:659px){
    .hero__button{
        width: 280px;
    }
}
