.contacts__item{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 660px){
  .contacts__item{
    gap: 0px;
  }
}

@media (min-width: 320px){
  .contacts__item{
    gap: 9px;
  }
}
