.popup__paragraph{
    font-family: OpenSans, arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1199px) {
    .popup__paragraph{
      padding: 0 50px;
    }
}

@media screen and (max-width: 659px) {
    .popup__paragraph{
      padding: 0 90px;
      font-size: 14px;
    }
}