.button{
  font-family: OpenSans, arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding: 22px;
  width: 100%;
}
.button:active,
.button:focus{
  color: rgb(255, 255, 255, 0.3);
}
