.footer__author-logo{
  width: 27px;
  height: 34px;
  color: rgba(210, 40, 86, 1);
  transition: all .7s ease;
}

.footer__author-logo:hover{
  color: rgba(40, 54, 69, 1);
}

.footer__author-logo:active{
  color: rgba(40, 54, 69, 0.3);
}
