.intro__title{
  font-size: 50px;
  line-height: 68px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: 757px;
  padding: 168px 0 98px;
  margin: auto;
}
@media (max-width: 1199px){
  .intro__title {
    max-width: 620px;
    padding: 177px 0 59px;
  }
}

@media (max-width: 659px){
  .intro__title {
    max-width: 280px;
    padding: 95px 0 43px;
    font-size: 24px;
    line-height: 33px;
  }
}
